:root{
    --p1-color: #FFC60B;
    --p2-color: #EEEFEF;
    --p3-color: #0D0D0D;
    --light-color: #BAB9B9;

    --s-text: 2vh;
    --b-text: 5vh;

    --font: "Montserrat", sans-serif;
    --normal-font: 400;
    --bold-font: 700;

    --universal-gap: 1vh;
    --universal-radius: .5vh;
}

*{
    font-family: var(--font);
    font-weight: var(--normal-font);
    font-size: var(--s-text);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: var(--p3-color);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body{
    background: var(--p2-color);
    min-height: 100vh;
    #everything{
        min-height: 100vh;
        margin: 0 30vh;
        padding: var(--universal-gap);
        border-left: .2vh solid var(--light-color);
        border-right: .2vh solid var(--light-color);
        .go-back-btn-user-page{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: var(--universal-gap);
            .go-back-btn{
                cursor: pointer;
                &:hover{
                    opacity: 50%;
                }
            }
        }
        .SearchBar{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: var(--universal-gap);
            height: 5vh;
            .profile-btn{
                height: 100%;
                width: 5vh;
                overflow: hidden;
                border-radius: var(--universal-radius);
                border: .2vh solid var(--p3-color);
            }
            .search-input{
                width: 100%;
                border: .2vh solid var(--light-color);
                border-radius: var(--universal-radius);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                overflow: hidden;
                input{
                    width: 100%;
                    padding:0 2vh;
                    height: 100%;
                    background: none;
                }
            }
            .search-btn{
                border: .2vh solid var(--light-color);
                border-radius: var(--universal-radius);
                padding: 1vh;
                cursor: pointer;
                background: var(--p1-color);
            }
        }
        .You-Board{
            background: var(--p3-color);
            margin-top: var(--universal-gap);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--universal-gap);
            .text{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;
            }
            .s-text{
                color: var(--p2-color);
                margin-bottom: -1vh;
            }
            .b-text{
                color: var(--p2-color);
                font-size: var(--b-text);
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: var(--universal-gap);
                white-space: nowrap;
                .logo{
                    height: calc(var(--b-text) + 2vh);
                    width: fit-content;
                    img{
                        object-fit: contain;
                    }
                }
            }
        }
        .search-page{
            display: grid;
            gap: .1vh;
            margin: .1vh 0;
            grid-template-columns: 25% 25% 25% auto;
            .you-card{
                cursor: pointer;
                width: auto;
                height: 30vh;
                background: var(--p3-color);
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &:hover{
                    .photo{
                        img{
                            transition: .2s ease;
                            filter: none !important;
                        }
                    }
                }
                .rank{
                    position: absolute;
                    top: 1vh;
                    left: 1vh;
                    background: var(--p3-color);
                    padding: 1vh;
                    color: var(--p2-color);
                    font-weight: var(--bold-font);
                    z-index: 1;
                }
                .name{
                    position: absolute;
                    bottom: 2vh;
                    left: 50%;
                    transform: translateX(-50%);
                    color: var(--p2-color);
                    font-weight: var(--bold-font);
                    white-space: nowrap;
                    z-index: 1;
                }
                .photo{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    img{
                        filter: grayscale(100%);
                        z-index: 0;
                    }
                    .overlay{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top:0;
                        left:0;
                        background:linear-gradient(to top, var(--p3-color), transparent);
                        z-index: 1;
                    }
                }
            }
        }
        .user-page{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: var(--universal-gap);.go-back-btn-user-page{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: var(--universal-gap);
            .go-back-btn{
                cursor: pointer;
                &:hover{
                    opacity: 50%;
                }
            }
        }
        
            .rank-bg{
                background: var(--p1-color);
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40vh;
                border-bottom: .3vh solid var(--p3-color);
                .go-back-btn-user-page{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .rank{
                    font-size: 14vh;
                    font-weight: var(--bold-font);
                }
                .photo{
                    width: 20vh;
                    height: 20vh;
                    position: absolute;
                    bottom: -50%;
                    transform: translateY(-50%);
                    background: var(--p3-color);
                    border: .3vh solid var(--p3-color);
                    .profile-informations{
                        padding-top: 2vh;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: var(--universal-gap);
                        .name{
                            font-size: var(--b-text);
                            white-space: nowrap;
                        }
                        .description{
                            width: 50vh;
                            text-align: center;
                        }
                    }
                    .like-counter{
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        right: -50%;
                        transform: translateY(-50%);
                        background-color: var(--p1-color);
                        padding: 1vh;
                        border-radius: 100%;
                        width: 5vh;
                        height: 5vh;
                        border: .3vh solid var(--p3-color);
                        &:hover{
                            background-color: var(--p3-color);
                            .upvote-btn{
                                fill: var(--p1-color);
                            }
                        }
                        .text{
                            position: absolute;
                            bottom: -70%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    .contact-section{
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -50%;
                        background-color: var(--p1-color);
                        padding: 1vh;
                        border-radius: 100%;
                        width: 5vh;
                        height: 5vh;
                        border: .3vh solid var(--p3-color);
                        &:hover{
                            background-color: var(--p3-color);
                            .contact-btn{
                                fill: var(--p1-color);
                            }
                        }
                        .text{
                            position: absolute;
                            bottom: -70%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    .contact-btn,.upvote-btn{
                        width: 100%;
                        height: 100%;
                        fill: var(--p3-color); 
                    }
                }
            }
            .work-station{
                margin-top: 30vh; 
                .work-header{
                    border-top: .3vh solid var(--p3-color);
                    border-bottom: .3vh solid var(--p3-color);
                    text-align: center;
                    font-size: var(--b-text);
                    font-weight: var(--bold-font);
                }  
                .works{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    .work{
                        width: 100%;
                        border-bottom: .3vh solid var(--light-color);
                        padding: var(--universal-gap);
                        text-decoration: none;
                        &:hover{
                            opacity: 50%;
                        }
                    }
                }
            }
        }
        .login-page{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: var(--universal-gap);
            .profile-card{
                width: 100%;
                cursor: pointer;
                margin-top: var(--universal-gap);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border-radius: var(--universal-radius);
                border: .3vh solid var(--p3-color);
                padding: var(--universal-gap);
                &:hover{
                    opacity: 50%;
                }
                .photo{
                    width: 5vh;
                    height: 5vh;
                }
            }
            .delete-btn{
                background: red;
                width: 100%;
                padding: var(--universal-gap);
                text-align: center;
                cursor: pointer;
                color: white;
                font-weight: var(--bold-font);
                &:hover{
                    opacity: 50%;
                }
            }
            .logout-btn{
                border: .3vh solid var(--light-color);
                border-radius: var(--universal-radius);
                padding: var(--universal-gap);
                background: var(--p1-color);
                cursor: pointer;
                width: 100%;
                margin-top: 10vh;
                text-align: center;
                &:hover{
                    opacity: 50%;
                }
            }
            .header{
                font-size: var(--b-text);
                font-weight: var(--bold-font);
                text-transform: uppercase;
                padding: var(--universal-gap);
            }
            .credential{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: var(--universal-gap);
                width: 100%;
                input{
                    width: 100%;
                    border: .3vh solid var(--p3-color);
                    padding: var(--universal-gap);
                    border-radius: var(--universal-radius);
                }
            }
            .login-btn{
                padding: var(--universal-gap);
                border-radius: var(--universal-radius);
                background: var(--p1-color);
                cursor: pointer;
                width: 100%;
            }
            .credentials{
                border: .3vh solid var(--p3-color);
                display: flex;
                flex-direction: column;
                gap: var(--universal-gap);
                background: var(--light-color);
                padding: var(--universal-gap);
                border-radius: var(--universal-radius);
                width: 100%;
                .sign-up{
                    cursor: pointer;
                    text-decoration: .2vh underline var(--p3-color);
                }
                textarea{
                    resize: none;
                    width: 100%;
                    height: 10vh;
                }
                .add-work{
                    padding: var(--universal-gap);
                    border-radius: var(--universal-radius);
                }
            }
            .added-work{
                width: 100%;
                font-size: 1vh;
                word-wrap: break-word;
            }
        }
    }
}

@media (max-width:780px) {
    :root{
        --s-text: 1.7vh !important;
        --b-text: 2.5vh !important;
    }
    #everything{
        margin: 0 !important;
        .search-page{
            grid-template-columns: auto auto !important;
            .you-card{
                height: 15vh !important;
            }
            .user-page{
                .rank-bg{
                    .photo{
                        width: 15vh !important;
                        height: 15vh !important;
                    }
                }
            }
        }
    }
}


